body {
  padding-top: 50px;
  background-color: white;
}
td {
  border-spacing: 10px;
}

#idFarms {
  margin-top: 5%;
  border: 1px solid #AAA;
  color: black;
  font-size: 25px;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  width: 97%;
}

#idgoats {
  margin-top: 8%;
  border: 1px solid #AAA;
  color: black;
  font-size: 25px;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  width: 97%;
}

#idAspectDiv {
  font-weight: bold;
  text-align: center ;
  margin-top: 5%;
  margin-bottom: 3%;
}

#idQuestionarie {
   margin-top: 8%;
  border: 1px solid #AAA;
  color: black;
  font-size: 25px;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  width: 97%;
}

#divGeneral {
   margin-top: 7%;
}

#secure {
    width: 500px;
    position: top;
    margin: 5% auto;
    overflow-y: auto;
}

select {
   border: 0;
   color: black;
   background: #fff;
   font-size: 15px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100%;
}

input {

   width: 100%;

}

#flot-placeholder {
    margin-left: 20px;
    margin-top: 15px;
    width: 85%;
    height: 300px;
}


#flot-placeholder div.xAxis div.tickLabel 
{    
    transform: rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}
